.TableTest {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.MuiPaper-root {
  border-radius: 25px !important;
}

.container {
  border-radius: 25px;
}
/*# sourceMappingURL=style.css.map */