.TableTest
    width: 1000px
    display: flex
    flex-direction: column
    margin-left: auto
    margin-right: auto
    margin-top: 25px 

.MuiPaper-root,
    border-radius: 25px !important
.container
    border-radius: 25px