.Error-container {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.Error-img {
  width: 100px;
  height: 100px;
  background-image: url("./img/404-error.png");
  background-size: cover;
  position: relative;
  top: 23%;
  left: 40px;
  margin-left: auto;
  margin-right: auto;
}

.Error-txt-img {
  width: 600px;
  height: 600px;
  background-image: url("./img/network-error.png");
  background-size: cover;
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 0px;
  right: 0;
  z-index: 0;
}

.Error-Message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.Error-h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #333536;
  text-shadow: 2px 2px #aaafb4c2;
  text-transform: uppercase;
  position: absolute;
  top: 47%;
  bottom: 0;
  left: 0;
  right: 0;
}

.Error-p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #999fa5;
  font-weight: 500;
  position: absolute;
  top: 54%;
  bottom: 0;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=styleError.css.map */